.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: #1cae40;
    color: rgb(17, 17, 17);
    font-size: 1.5rem;
    font-weight: 400;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
}

.menu {
    display: flex;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-left: 20px;
}

.main-head a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.main-head a:hover {
    color: rgb(245, 243, 243);
}

.logo:hover {
    color: rgb(245, 243, 243);
}
